header
{
	font-family: 'Courier New', Courier, monospace;
	margin: 0px;
	flex-grow: 1;
	flex-direction: row;
	position: sticky;
  	top: 0;
	overflow: hidden;
}

header a
{
	text-decoration: none;
}

.header-title
{
	padding: .5em 1em .5em 1em;
	margin-right: auto;
	font-weight: 500;
	flex-shrink: 1;
	flex-direction: row;
	font-size: x-large;
}

.topbar
{
	margin: auto;
	max-width: 1200px;
	flex-direction: row;
	flex-grow: 1;
}

@media only screen and (max-width: 768px)
{
	.topbar
	{
		flex-direction: column;
	}
}
