nav ol,
nav
{
	flex-direction: row;
	font-size: large;
	padding-inline-start: 0px;
	margin-block-start: 0px;
    margin-block-end: 0px;
	margin-left: 1em;
}

nav a
{
	width: 100%;
	padding: .5em 1.5em .5em 1.5em;
	position: relative;
	flex-grow: 1;
	text-align: center;
	justify-content: center;
	transition: 0.3s;
	border-style: solid;
	border-color: var(--bg-accent);
	border-radius: 2em;
	border-width: 0 0.2em 0 0;
}


nav a:hover
{
	color: var(--text-highlight);
	text-shadow: 2px 2px 5px var(--text-main);
	border-radius: 1em;
}


.nav-toggle
{
	position: relative;
	display: none;
	border: 1px solid var(--text-main);
	padding: 0.2em;
	border-radius: 0.5em;
	flex-grow: 0;
	margin: auto 0 auto auto;
	width: 2.5em;
	height: 2.5em;
}

.nav-toggle input
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	opacity: 0;
}

div .nav-toggle span
{
	margin: 0.25em;
	flex-grow: 1;
	background-color: var(--text-main);
}

@media only screen and (max-width: 768px)
{
	nav
	{
		margin: 0px;
		opacity: 0;
		height: 0;
		pointer-events: none;
		transition: 0.3s;
		background-color: var(--bg-secondary);
	}

	nav ol
	{
		margin: 0px;
		flex-direction: column;
		flex-grow: 1;
	}

	nav a
	{
		padding-top: 2em;
		padding-bottom: 2em;
		border-radius: 0;
		border-width: 0.2em 0 0 0;
	}

	nav a:hover
	{
		border-radius: 4em;
	}

	.nav-toggle
	{
		display: flex;
	}
	

	.topbar :has(input:checked) ~ .topbar-curve-container .topbar-curve
	{
		box-shadow: 0 -1em 0 0 var(--bg-secondary);
	}

	.topbar :has(input:checked) ~ nav
	{
		opacity: 1;
		height: auto;
		pointer-events: all;
	}
}
