:root
{
	--bg-primary: hsl(255, 25%, 15%);
	--bg-secondary: hsl(255, 25%, 7%);
	--bg-accent: hsl(22, 100%, 62%);
	--text-main: #ffffff;
	--text-highlight: #f2f250;
}

body
{
	font-family: "Lucida Console", Arial, sans-serif;
	color: var(--text-highlight);
	margin: 0px;
}

title
{
	display: none;
}

*
{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: var(--text-main);
	align-content: center;
}

p
{
	margin: auto;
}

h1
{
	font-size: xx-large;
}

h1, h2, h3, h4, h5, h6
{
	color: var(--text-highlight);
	margin: 0em auto 0.5em auto;
}

.spacer-1
{
	margin-top: 1em;
	margin-bottom: 1em;
}

.spacer-2
{
	margin-top: 2em;
	margin-bottom: 2em;
}

.spacer-3
{
	margin-top: 3em;
	margin-bottom: 3em;
}

.go-left
{
	margin-left: 0px;
	margin-right: auto;
}

.go-right
{
	margin-right: 0px;
	margin-left: auto;
}

section
{
	box-sizing: border-box;
	margin: 1em auto;
	width: 1150px;
	background-color: var(--bg-secondary);
	border-radius: 1em;
	padding: 1em;
}

@media only screen and (max-width: 1300px)
{
	section
	{
		width: 90%;
	}
}

@media only screen and (max-width: 568px)
{
	section
	{
		width: 100%;
	}
}

.row
{
	flex-direction: row;
}

.col
{
	flex-direction: column;
}


.no-margin
{
	margin: 0px;
}

.grow
{
	flex-grow: 1;
}

footer
{
	margin-top: 2em;
}