:root
{
	--bg-primary: hsl(239, 45%, 20%);
	--bg-secondary: hsl(252, 70%, 7%);
	--accent: hsl(189, 100%, 72%);
	--highlight: hsl(22, 100%, 63%);
	--text-main: #ffffff;
	--press-brightness: 70%;
	--standard-transition-timing: 0.2s;
}