@mixin flex($direction, $growShrinkBasis)
{
	display: flex;
	@if ($direction)
	{
		flex-direction: #{$direction};
	}
	@if ($growShrinkBasis)
	{
		flex: #{$growShrinkBasis};
	}
}

@mixin align($content: center, $items: center, $text: center)
{
	display: flex;
	@if ($items)
	{
		align-items: #{$items};
	}
	@if ($content)
	{
		align-content: #{$content};
	}
	@if ($text)
	{
		text-align: #{$text};
	}
}

@mixin justify($content: center, $items: center, $text: center)
{
	display: flex;
	@if ($content)
	{
		align-content: #{$content};
	}
	@if ($items)
	{
		align-items: #{$items};
	}
	@if ($text)
	{
		text-align: #{$text};
	}
}

@mixin position($type, $top: null, $right: null, $bottom: null, $left: null)
{
	@if($type)
	{
		position: #{$type};
	}

	@if ($top)
	{
		top: #{$top};
	}

	@if ($right)
	{
		right: #{$right};
	}

	@if ($bottom)
	{
		bottom: #{$bottom};
	}
	@else if ($top)
	{
		bottom: #{$top};
	}

	@if ($left)
	{
		left: #{$left};
	}
	@else if ($right)
	{
		left: #{$right};
	}
}

.row
{
	display: flex;
	flex-direction: row;
}

.col
{
	display: flex;
	flex-direction: column;
}

.grow
{
	flex-grow: 1;
}

.shrink
{
	flex-shrink: 1;
}

.align-center
{
	display: flex;
	align-items: center;
	align-content: center;
	text-align: center;
}

.justify-center
{
	display: flex;
	justify-content: center;
}

.v-spacer-small
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

@mixin pad-h($amount)
{
	padding-left: $amount;
	padding-right: $amount;
}

@mixin pad-v($amount)
{
	padding-top: $amount;
	padding-bottom: $amount;
}

.no-padding
{
	padding: 0;
}

.small-padding
{
	padding: 1em;
}

.small-v-padding
{
	@include pad-v(1em); 
}

.med-padding
{
	padding: 2em;
}

.med-h-padding
{
	@include pad-h(2em); 
}

.top-m1
{
	margin-top: 1em;
}

.no-margin
{
	margin: 0px;
}

@mixin align-all($alignment)
{
	text-align: #{$alignment};
	align-content: #{$alignment};
	justify-content: #{$alignment};
	align-items: #{$alignment};
}

@mixin align-center($types...)
{
	@each $type in $types
	{
		@if $type == text
		{
			text-align: center;
		}
		@else if $type == content
		{
			align-content: center;
		}
		@else if $type == items
		{
			align-items: center;
		}
	}
}

.responsive-row-col
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	transition: all var(--standard-transition-timing);
}

.responsive-spacer-tiny,
.responsive-spacer-small
{
	display: flex;
}

@media only screen and (max-width: 568px)
{
	.responsive-spacer-tiny
	{
		@include pad-v(.5em); 
	}
	
	.responsive-spacer-small
	{
		@include pad-v(1em); 
	}
	
	.responsive-row-col
	{
		flex-direction: column;
	}

	@for $i from 1 through 5
	{
		.responsive-order-#{$i}
		{
			order: #{$i};
		}
	}
}