.background
{
	position: fixed;
	overflow-x: hidden;
	overflow-y: hidden;
	align-items: stretch;
	flex-grow: 1;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	color: var(--faint-glow);
	perspective: 100px;
	background: radial-gradient(var(--bg-primary-gradient) 50%, var(--bg-primary) 100%);
}

.background-anchor
{
	position: absolute;
	height: 100%;
	width: 100%;
}

.bg-cell
{
	top: 0;
	left: 0;
	position: relative;
    filter: drop-shadow(var(--faint-glow) 0px 0px 8px);
}

@function CalcRand($range, $offset, $unit: null)
{
	$rand: random($range) + $offset;
	@if($unit)
	{
		@return $rand + $unit;
	}
	@return $rand;
}


$bg-anim-sections: 6;
$bg-anim-section-length: 1 / $bg-anim-sections;
$bg-anim-section-duration: 60000;
$bg-anim-duration: $bg-anim-sections * $bg-anim-section-duration;
$bg-anim-size-range: 100;
$bg-anim-size-offset: -50;
$bg-range: 100;
$bg-offset: 5;

@for $i from 1 through 200
{
	.background .bg-cell:nth-child(#{$i})
	{
		animation: flash-#{$i} #{$bg-anim-duration}ms infinite;
		animation-delay: (random($bg-anim-duration) - $bg-anim-duration)+ms;
		animation-timing-function: linear;
	}

	@keyframes flash-#{$i}
	{
		@for $i from 1 through $bg-anim-sections
		{
			$xStart: CalcRand($bg-range, -$bg-offset, #{'%'});
			$xEnd: CalcRand($bg-range, -$bg-offset, #{'%'});
			$yStart: CalcRand($bg-range, -$bg-offset, #{'%'});
			$yEnd: CalcRand($bg-range, -$bg-offset, #{'%'});

			$rotStart: CalcRand(90, -45, deg);
			$rotEnd: CalcRand(90, -45, deg);

			$z-pos: CalcRand($bg-anim-size-range, $bg-anim-size-offset)+px;

			$section-start: (($i)-1)*$bg-anim-section-length;
			$section-mid: $section-start+($bg-anim-section-length/2.0);
			$section-end: $section-start+$bg-anim-section-length;

			#{percentage($section-start)}
			{
				opacity: 0;
				transform: translate3d(#{$xStart}, #{$yStart}, #{$z-pos}) rotateZ(#{$rotStart}) ;
			}

			#{percentage($section-mid)}
			{
				opacity: 1;
			}

			#{percentage($section-end)}
			{
				opacity: 0;
				transform: translate3d(#{$xEnd}, #{$yEnd}, #{$z-pos}) rotateZ(#{$rotEnd});
			}
		}
	}
}
