.envelope-holder
{
	@include flex(column, grow);
	perspective: 100px;
}

.envelope-holder:active *
{
	@include active-press;
}

.envelope
{
	@include flex(column, grow);
	@include foregroundPanel;
	perspective: 100px;
	z-index: 1;
	position: relative;
	margin: 20px 10px 10px 10px;
	height: 150px;
	transition: var(--standard-transition-timing);
}

.envelope-holder:hover .envelope
{
	@include highlight-glow;
	transform: translateY(50px) translateZ(-50px);
}

.envelope-contents
{
	@include flex;
	@include smooth-border;
	perspective: 100px;
	position: absolute;
	padding: 0.5em;
	top: 1em;
	bottom: 1em;
	left: 1em;
	right: 1em;
	word-wrap: break-word;
	justify-content: center;
	align-items: center;
	word-wrap: break-word;
	text-align : center;
	text-decoration: none;
	pointer-events: none;
	background-color: var(--bg-primary);
	overflow-wrap: anywhere;
}

.envelope-holder:hover .envelope-contents
{
	@include highlight-glow;
	animation-duration: calc(var(--standard-transition-timing) * 3);
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	animation-name: open-envelope-contents;
}

@keyframes open-envelope-contents
{
	0%, 25%
	{
		transform: translateY(0px) translateZ(0px);
		z-index: 0;
	}
	49%
	{
		transform: translateY(-150px) translateZ(0px);
		z-index: 0;
	}
	50%
	{
		transform: translateY(-150px) translateZ(0px);
		z-index: 1;
	}
	100%
	{
		transform: translateY(-25px) translateZ(40px);
		z-index: 1;
	}
}

.envelope-label
{
	@include default-text;
	@include flex;
	position: absolute;
	top:  0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: 10px;
	font-weight: 600;
}

.envelope-flap
{
	z-index: 1;
	position: absolute;
	background-color: var(--bg-secondary);
	top: 3px;
	bottom: 52%;
	right: 14px;
	left: 14px;
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	transform-origin: top center;
}

.envelope-holder:hover .envelope-flap
{
	animation-duration: var(--standard-transition-timing);
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	animation-name: open-envelope-flap;
}

@keyframes open-envelope-flap
{
	0%
	{
		transform: scaleY(100%);
		z-index: 1;
	}
	50%
	{
		transform: scaleY(0%);
		z-index: -1;
	}
	100%
	{
		transform: scaleY(-100%);
		z-index: -1;
	}
}

.envelope-fold-right,
.envelope-fold-left
{
	--line-color: var(--highlight);
	@include smooth-border;
	background-color: var(--bg-secondary);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.envelope-fold-right
{
	background: linear-gradient(
		to top left,
		var(--bg-secondary) calc(51% - 2px),
		var(--line-color) calc(51% - 2px),
		var(--line-color) 51%,
		transparent 51%);
}

.envelope-fold-left
{
	background: linear-gradient(
		to top right,
		var(--bg-secondary) calc(51% - 2px),
		var(--line-color) calc(51% - 2px),
		var(--line-color) 51%,
		transparent 51%);
}