header
{
	@include flex(row, 1 1 auto);
	@include align-all(center);
	z-index: 1;
	margin: 0px;
	position: sticky;
  	top: 0;
	right:0;
	left: 0;
	height: var(--header-height);
	background-color: var(--bg-secondary);
	box-shadow: 0 0 1em 0 var(--drop-shadow-color);
	color: var(--accent);
	line-height: var(--header-line-height);
	letter-spacing: var(--header-letter-spacing);
}

header a
{
	line-height: var(--header-line-height);
	letter-spacing: var(--header-letter-spacing);
	color: var(--accent);
	text-decoration: none;
	align-content: center;
}

.header-title
{
	@include title-text;
	@include flex(row, 1 1 auto);
	@include align-all(center);
	padding: 0 30px;
	font-size: x-large;
	height: var(--header-height);
	text-wrap: nowrap;
}

.pre-nav
{
	flex-direction: row;
}

.topbar-aligner
{
	@include flex(row, 1 1 auto);
	@include align-all(center);
	margin: auto;
	width: 1000px;
	max-height: var(--header-height);
	border-color: var(--highlight);
	border-style: outset;
	border-width: 0px 0px 2px 0px;
}

.topbar-always
{
	@include flex(row, grow);
	margin: 0px;
}

@media only screen and (max-width: 1000px)
{
	.topbar-aligner
	{
		width: 100%;
	}
}

@media only screen and (max-width: 768px)
{
	.topbar-always
	{
		width: 100%;
	}

	.topbar-aligner
	{
		flex-direction: column;
		margin: 0;
	}

	.header
	{
		margin: 0;
		flex-direction: column;
	}
}
