.nav-toggle
{
	box-sizing: border-box;
	position: relative;
	display: none;
	border-style: outset;
	border-width: 2px;
	border-color: var(--highlight);
	padding: 2px;
	border-radius: 0.5em;
	flex-grow: 0;
	margin: auto 2em auto auto;
	max-width: 38px;
	max-height: 38px;
	display: none;
	background-color: var(--bg-primary);
	transition: var(--standard-transition-timing);
}

.nav-toggle:hover
{
	@include highlight-glow;
	border-radius: 0.5em;
}

.nav-toggle-activator,
.nav-toggle-deactivator
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	opacity: 0;
}

.nav-toggle-activator,
:has(.nav-toggle-activator:focus-within) .nav-toggle-deactivator,
:has(nav:focus-within) .nav-toggle-deactivator
{
	pointer-events: all;
}

.nav-toggle-activator:focus-within,
:has(nav:focus-within) .nav-toggle-activator,
.nav-toggle-deactivator:focus-within,
.nav-toggle-deactivator
{
	pointer-events: none;
}

.nav-toggle:has(.nav-toggle-activator:focus-within),
.nav-toggle:hover
{
	border-color: var(--accent);
}

.nav-toggle:has(.nav-toggle-activator:active),
.nav-toggle:has(.nav-toggle-deactivator:active)
{
	@include active-press;
}

.nav-toggle span
{
	@include flex(row, grow);
	margin: 0.25em;
	background-color: var(--accent);
	transition: var(--standard-transition-timing);
	height: 2px;
}

.nav-toggle:hover span
{
	background-color: var(--accent);
}

@media only screen and (max-width: 768px)
{
	.nav-toggle
	{
		@include flex(column, 1 1 auto);
	}
}
