nav
{
	transition: none;
	height: var(--header-height);

	a,
	.link
	{
		@include align-all(center);
		line-height: var(--header-line-height);
		letter-spacing: var(--header-letter-spacing);
		color: var(--accent);
		text-decoration: none;
	}

	&,
	ol
	{
		@include flex(row, 1 1 auto);
		box-sizing: border-box;
		font-size: large;
		padding-inline-start: 0px;
		margin-block-start: 0px;
		margin-block-end: 0px;
		justify-content: space-evenly;
	}

	& > ol.primary-nav
	{
		position: static;
		top: 0;
	}

	> ol
	{
		position: absolute;
		top: var(--header-height);

        ol li {
            margin: 0px;
        }
	}

	&::-webkit-scrollbar,
	ol::-webkit-scrollbar
	{
		display: none;
	}

	.nav-item
	{
		@include flex(row, 0 1 100%);
		@include smooth-border;
		padding: 0 0.4em;
		box-sizing: border-box;
		position: relative;
		text-align: center;
		justify-content: center;
		transition: 
			border-color var(--standard-transition-timing), 
			filter var(--standard-transition-timing);
		cursor: pointer;
		border-style: solid;
		border-width: 0px 2px;
		border-color: transparent;
		min-height: var(--header-height);
        margin: 0px 1px;

		&:hover
		{
			@include smooth-border;
	        border-color: var(--highlight) var(--accent) var(--highlight) var(--accent);
	        filter: drop-shadow(0px 0px 8px var(--highlight));
		}

		a,
		.link
		{
			flex: 0 1 auto;
		}
	}

	li
	{
		@include flex(row, 1 1 100%);
		@include align(space-around, stretch, center);
		@include align-text(justify, center);
		@include smooth-border;
		height: fit-content;
		list-style-type: none;
		justify-content: center;
		position: relative;
		background-color: var(--bg-secondary);
		margin: 0;

		&:active
		{
			@include active-press;
		}
	}

    .sub-nav-root{
        background-color: var(--bg-primary-gradient);
        filter: drop-shadow(0px 0px 8px black);
        z-index: 1;
        @include smooth-border;

        @media only screen and (min-width: 768px)
        {
            overflow-y: auto;
            max-height: calc(100vh - var(--header-height));
            filter: drop-shadow(0px 0px 8px black);

            ol
            {
                position: static;
            }
            
            li
            {
                position: static;
            }
        }
    }

	@media only screen and (max-width: 768px)
	{
		margin: 0px;
		display: flex;
		position: fixed;
		top: var(--header-height);
		right: 0;
		left: 0;
		height: 0;
		pointer-events: none;
		transition: all var(--standard-transition-timing);
		background-color: transparent;
		overflow-y: auto;

		.nav-item
		{
			@include flex(row, 0 1 auto);
            margin: 1px 0px;
		}

		li
		{
			flex: 0 1 auto;
			flex-direction: column;
		}

		ol
		{
			margin: 0px;
			flex-direction: column;
			flex-grow: 1;
			justify-content: start;
			position: static;
            
            &.primary-nav
            {
                border-radius: 0px 0px var(--standard-border-radius) var(--standard-border-radius);
                margin-bottom: auto;
                background-color: var(--bg-primary-gradient);
            }

            ol li {
                margin: 0px;
            }
		}
	}
}

a:active,
.link:active
{
	@include active-press;
}

@media only screen and (max-width: 768px)
{
	:has(.nav-toggle .nav-toggle-activator:focus-within) nav,
	nav:focus-within
	{
		height: calc(100% - var(--header-height));

        li
        {
            pointer-events: all;
        }
	}
}
