.project-description
{
	scroll-snap-align: center;
	min-width: min(2000px, 70vw);

	& > .image-container
	{
		@include flex(column, 1 1 100%);
		border-style: ridge;
		border-width: 0 0 2px 0;
		border-color: var(--highlight);
		position: relative;
		height: 370px;
		min-height: 370px;
		max-height: 370px;

		& > img
		{
			height: min(370px, 100%);
			max-height: 370px;
			max-width: 100%;
			width: 100%;
			display: flex;
			margin: auto auto 0 auto;
			border-radius: var(--standard-border-radius) var(--standard-border-radius) 0 0;
			object-fit: cover;
		}
	}

	h3
	{
		margin: 0 auto;
		padding: 0.5em;
	}

	.description
	{
		@include flex(column, 1 1 100%);
	}

	@media only screen and (max-width: 800px) {
		min-width: max(568px, 70vw);
	}

	@media only screen and (max-width: 568px)
	{
		min-width: 100vw;
		grid-template-columns: 100%;
		grid-template-rows: 1.5em auto;
	}
}