@mixin default-text(
	$letter-spacing: var(--body-letter-spacing),
	$line-height: var(--body-line-height),
	$weight: normal)
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 2px 2px 3px var(--drop-shadow-color);
	letter-spacing: #{$letter-spacing};
	line-height: #{$line-height};
	font-weight: #{$weight};
}

@mixin title-text($weight: normal)
{
	@include default-text(var(--title-letter-spacing), var(--title-line-height), $weight);
}

@mixin align-text($align, $align-last: $align)
{
	text-align: $align;
	text-align-last: $align-last;
}

p
{
	@include align-text(justify, center);
	@include default-text;
	margin: auto;
}

h1
{
	@include title-text;
	font-size: xx-large;
	filter: drop-shadow(0.15em 0.15em 0.1em var(--drop-shadow-color));
}

h1, h2, h3, h4, h5, h6
{
	@include flex(column);
	@include title-text;
	margin: 0em auto 0.5em auto;
}

a
{
	@include default-text;
	color: var(--accent);
}

a:active
{
	@include active-press;
}

.pip
{
	background-color: var(--text-main);
	height: .5em;
	width: .5em;
	min-height: .5em;
	min-width: .5em;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 0.5em;
	margin-left: 0.5em;
}