:root
{
	--bg-primary: hsl(239, 49%, 19%);
	--bg-primary-gradient: hsl(239, 34%, 39%);
	--bg-secondary: hsl(252, 70%, 7%);
	--accent: hsl(32, 100%, 68%);
	--highlight: hsl(36, 100%, 50%);
	--text-main: hsl(0, 0%, 100%);
	--drop-shadow-color: rgba(0, 0, 0, 0.9);
	--press-brightness: 70%;

	--standard-transition-timing: 0.2s;

	--body-letter-spacing: 0.15em;
	--body-line-height: 2em;
	--title-letter-spacing: -0.05em;
	--title-line-height: 1em;

	--standard-border-radius: 15px;

	--header-size: 50px;
}

@mixin smooth-border
{
	border-radius: var(--standard-border-radius);
}

@mixin highlight-glow
{
	@include smooth-border;
	border-style: solid;
	border-width: 1px;
	border-color: var(--accent);
	filter: drop-shadow(1px 1px 3px var(--highlight));	
}

@mixin active-press
{
	filter: brightness(var(--press-brightness));
}

@mixin appearance($value: none) {
	-webkit-appearance: #{$value};
	-moz-appearance: #{$value};
	-ms-appearance: #{$value};
	-o-appearance: #{$value};
	appearance: #{$value};
}