:root
{
	--bg-primary: hsl(238, 81%, 6%);
	--bg-primary-gradient: hsl(240, 100%, 2%);
    --faint-glow: hsla(207, 100%, 66%, 0.603);

	--bg-secondary: hsl(252, 70%, 7%);
	--accent: hsl(192, 100%, 68%);
	--highlight: hsl(197, 100%, 27%);
	--text-main: hsl(0, 0%, 100%);
	--drop-shadow-color: rgba(0, 0, 0, 0.9);
	--press-brightness: 70%;

	--standard-transition-timing: 0.2s;

	--body-letter-spacing: 0.15em;
	--body-line-height: 2em;
	--title-letter-spacing: -0.05em;
	--title-line-height: 1em;

	--standard-border-radius: 15px;

	--header-height: 60px;
	--footer-height: 0px;
	--body-height: calc(calc(100vh - var(--header-height)) - var(--footer-height));
	--header-letter-spacing: 0.15em;
	--header-line-height: 1.2em;
}

@mixin smooth-border
{
	border-radius: var(--standard-border-radius);
}


@mixin active-press
{
	filter: brightness(var(--press-brightness));
}

@mixin appearance($value: none) {
	-webkit-appearance: #{$value};
	-moz-appearance: #{$value};
	-ms-appearance: #{$value};
	-o-appearance: #{$value};
	appearance: #{$value};
}