<a href="{{ include.link }}" class="envelope-holder">
	<div class="envelope">
		<div class="envelope-contents">
			<div class="envelope-contents-body">
				{{ include.contents }}
			</div>
		</div>
		<div class="envelope-left-lines"></div>
		<div class="envelope-right-lines"></div>
		<div class="envelope-left-front"></div>
		<div class="envelope-right-front"></div>
		<div class="envelope-flap-outline">
			
		</div>
		<div class="envelope-flap">
			
		</div>
		<div class="envelope-label">
			{{ include.label }}
		</div>
	</div>
</a>