<nav>
	<ol>
		<li class="justify-center nav-item">
			<a tabindex="0" href="/#welcome" onclick="this.blur();"> Home </a>
		</li>
		<li class="collapse justify-center nav-item">
			<a tabindex="0" href="/#professional-work" onclick="this.blur();"> Professional Work </a>
		</li>
		<li class="collapse justify-center nav-item">
			<a tabindex="0" href="/#personal-projects" onclick="this.blur();"> Personal Projects </a>
		</li>
		<li class="justify-center nav-item">
			<a tabindex="0" href="/#contact" onclick="this.blur();"> Contact Me </a>
		</li>
	</ol>
</nav>