<iframe src="https://drive.google.com/file/d/1HzIiPqSMwfMn0XQjiqA7PL9Azc6Av8nz/preview" class="foreground-panel"></iframe>

<div class="foreground-panel small-v-padding med-h-padding">
	<p>
		These are a series of 3D assets modelled, textured, and animated using Maya, ArmorPaint, and Blender for various coursework projects as part of my masters degree.
	</p>
</div>

<section>
	<h2>Download Them</h2>
	<div class="foreground-panel small-v-padding med-h-padding col">
		<p>
			You can find all the asset files <a href="https://gitlab.doc.gold.ac.uk/lrobi007/intro-to-modelling-and-animation">here</a>.
		</p>
	</div>
</section>