<div class="row">
<img src="https://drive.google.com/thumbnail?id=14iNA-BJNC6eaqJcj1Ujq8GhlyM21dEEB&sz=w1000" alt="A screenshot of the Games Dev Examples project running" />
<img src="https://drive.google.com/thumbnail?id=1scMxeHydS8bxhKhHc8d7s2Mgnb9WySTH&sz=w1000" alt="A screenshot of the Games Dev Examples project code"
	style="object-fit: cover;" />
</div>

<div class="foreground-panel small-v-padding med-h-padding">
	<p>
		Games Dev Unity Examples is a repository full of code snippets, example scenes, and teaching materials for
		making games in Unity and C#.
	</p>
	<p>
		Some examples are more code based and have large amounts of code comments accompanying them to explain them.
		Other examples that are more visual in nature (e.g. the post processing stack example) have slides to accompany
		them instead. Links to the slides are included in the Lecture Slide Links.txt file in the Assets folder.
	</p>
</div>

<section>
	<h2>Contents</h2>
	<div class="foreground-panel small-v-padding med-h-padding col">
		<p>
			The project includes examples for:
		</p>
		<ul>
			<li>C# Collections (Arrays, Lists, HashSets, Dictionaries)</li>
			<li>XML Code Documentation Comments</li>
			<li>Code Regions</li>
			<li>Unity Inspector Attributes</li>
			<li>Structs, Classes, and Interfaces</li>
			<li>Physics Ray/Spherecasting<ul>
					<li>Non-Allocating physics callbacks</li>
				</ul>
			</li>
			<li>Custom Camera and Rigidbody Character Controls with Character Animation:<ul>
					<li>Enums</li>
					<li>Update vs FixedUpdate</li>
					<li>Basic Euler and AngleAxis rotation using Quaternions</li>
					<li>Vector Lerping</li>
					<li>Input handling</li>
					<li>Rigidbody Physics</li>
					<li>The Unity Mecanim System <ul>
							<li>Blend trees</li>
							<li>Transitions</li>
						</ul>
					</li>
				</ul>
				<ul>
					<li>The Animator Component and animation Scripting</li>
					<li>Root Motion</li>
				</ul>
			</li>
			<li>ScriptableObjects, Audio, and Animation Events<ul>
					<li>Storing groups of assets in a reusable way using ScriptableObjects</li>
					<li>OnTriggerEnter/Exit physics callbacks</li>
					<li>The AudioSource component</li>
					<li>Using animation events to trigger weapon hit and footstep sounds</li>
				</ul>
			</li>
			<li>Legacy Animation, Nav Mesh Agents<ul>
					<li>Playing basic animations using the legacy Animation Clip system</li>
					<li>Basic chase player behaviour using nav mesh agents</li>
					<li>Fake jumping using off mesh links</li>
				</ul>
			</li>
			<li>Graphics In Unity<ul>
					<li>PBR</li>
					<li>The Standard Shader</li>
					<li>Reflection Probes</li>
					<li>Colour Spaces</li>
					<li>The Post Processing Stack</li>
				</ul>
			</li>
			<li>Building Projects In Unity<ul>
					<li>Release vs Development builds</li>
					<li>Scene Selection</li>
				</ul>
				<ul>
					<li>Built App Icon</li>
				</ul>
				<ul>
					<li>Splash Screen</li>
				</ul>
				<ul>
					<li>IL2CPP vs Mono </li>
				</ul>
				<ul>
					<li>Platform specific build requirements (e.g. app store size limits)</li>
					<li>Methods of tweaking build size </li>
				</ul>
				<ul>
					<li>Debugging and Profiling builds</li>
				</ul>
			</li>
		</ul>
	</div>
</section>

<section>
	<h2>Source Code</h2>
	<div class="foreground-panel small-v-padding med-h-padding col">
		<p>
			Check out the project <a href="https://gitlab.doc.gold.ac.uk/lrobi010/games-dev-unity-examples">here</a>.
		</p>
	</div>
</section>