<iframe src="https://drive.google.com/file/d/1qSvfCazBJkcS3DPPIwqXvAxXyi5GWatE/preview" class="foreground-panel"></iframe>

<div class="foreground-panel small-v-padding med-h-padding">
	<p>
		Go Fetchie! is a puzzle game based around one core mechanic: the player has a robot dog named Fetchie that will chase his ball. The player must use their abilities to control the ball and Fetchie in order to solve puzzles and challenges.
	</p>
	<p>
		Built in Unreal Engine 4 using a combination of C++ and Blueprints.
	</p>
</div>

<section>
	<h2>Play It!</h2>
	<div class="foreground-panel small-v-padding med-h-padding col">
		<p>
			Grab the latest build &#32;<a href="https://drive.google.com/file/d/1lSk8uTMQRcl7_IacEcYGTio-G8YEIS1n/view">here</a>.
		</p>
	</div>
</section>

<section>
	<h2>Source Code</h2>
	<div class="foreground-panel small-v-padding med-h-padding col">
		<p>
			For legal reasons I cannot share the entire project because it uses some purchased assets which cannot be redistributed.
		</p>
		<p>
			However, you can download a .zip file of the C++ code behind the game <a href="https://drive.google.com/file/d/17FewAgTysYDotJ5SKshFsSpzsPC3JKSa/view?usp=drive_link">here</a>.
		</p>
	</div>
</section>