<iframe src="https://drive.google.com/file/d/1Oo-4yl12VYxgVYgBypfclAj7o6ciQynD/preview" class="foreground-panel"></iframe>

<div class="foreground-panel small-v-padding med-h-padding">
	<p>
		Sacrifices Must Be Made is a game where you get to:
	</p>
	<ul>
		<li>
			Play a cultist
		</li>
		<li>
			Represent your malevolent deity in an endless tournament of the damned
		</li>
		<li>
			Fight endless hordes of enemies
		</li>
		<li>Loot</li>
		<li>Upgrade your defences</li>
		<li>Loot some more</li>
		<li>Survive for as long as you can!</li>
		<li>Die!</li>
		<li>Do it all again!</li>
	</ul>
	<p>
		Made with Unity Engine.
	</p>
</div>

<section>
	<h2>Play it!</h2>
	<div class="foreground-panel small-v-padding med-h-padding col">
		<p>
			Grab the latest build &#32;<a href="https://gitlab.doc.gold.ac.uk/lrobi007/sacrifices-must-be-made-public/-/releases">here</a>.
		</p>
	</div>
</section>

<section>
	<h2>See The Source Code</h2>
	<div class="foreground-panel small-v-padding med-h-padding col">
		<p>
			Take a look at the source code &#32;<a href="https://gitlab.doc.gold.ac.uk/lrobi007/sacrifices-must-be-made-public">here</a>.
		</p>
	</div>
</section>

<section>
	<h2>Disclaimer</h2>
	<div class="foreground-panel small-v-padding med-h-padding col">
		<p>
			Please note, for legal reasons certain assets are omitted from the source code because they were purchased from the Unity asset store and cannot be redistributed. Because of this the game can not be built from the source code alone as the repo contains only my own work.
		</p>
	</div>
</section>