<img
 referrerpolicy="noreferrer"
 src="https://drive.google.com/thumbnail?id=1_11xg38TSgXBIpK_7-sAfSZohpnAWNIF&sz=w1000"
 alt="Screenshot of the Simpson Strong-Tie Deck Planner Application" />

<div class="foreground-panel small-v-padding med-h-padding">
	<p>
		Produced by West Pier Studio for Simpson Strong-Tie, the Outdoor Living Solutions family of applications provide tools for deck, pergola and fence planning.
	</p>
</div>

<section>
	<h2>Try The Apps</h2>
	<div class="foreground-panel small-v-padding med-h-padding col">
		<p>
			All 3 apps are available via WebGL:
		</p>
		<ul>
			<li>
				<a href="https://deckplanner.strongtie.com/ols/surface/contentbuilder/deckplanner">Deck Planner</a>
			</li>
			<li>
				<a href="https://deckplanner.strongtie.com/ols/surface/contentbuilder/fenceplanner">Fence Planner</a>
			</li>
			<li>
				<a href="https://deckplanner.strongtie.com/ols/surface/contentbuilder/pergolaplanner">Pergola Planner</a>
			</li>
		</ul>
		<p>
			Additionally, Deck Planner is available for&#32;<a href="https://apps.apple.com/us/app/deck-planner/id1567236987">iPad</a>
		</p>
	</div>
</section>

<section>
	<h2>Technology</h2>
	<div class="foreground-panel small-v-padding med-h-padding col">
		<p>
			The OLS family of apps are built with the following technologies:
		</p>
		<ul>
			<li>
				Unity Engine
			</li>
			<li>
				.Net Core API with Entity Framework and Blazor
			</li>
			<li>
				MySql Database
			</li>
			<li>
				AWS S3 Cloud Storage
			</li>
		</ul>
	</div>
</section>