<img
 referrerpolicy="noreferrer"
 src="https://drive.google.com/thumbnail?id=1ake1YNaY73sMIDrY5H0Tnt5QeEGWW5yX&sz=w1000"
 alt="Cat-Si logo" />

<div class="foreground-panel small-v-padding med-h-padding">
	<p>
		Cat-Si is a health &amp; safety compliance audit application developed in-house at Urban Environments. It allows easy tracking, management, and reporting of building assets and focusses primarily on water hygiene (e.g. Legionella and Pseudomonas).
	</p>
	<br>
	<p>
        I have been responsible for making contributions to the back-end infrastructure, management portal, CI-CD pipelines, and Flutter-based front-end application.
	</p>
    <br>
	<p>
        For more information you can go to <a href="https://www.cat-si.com/">cat-si.com</a>
	</p>
</div>