<div class="foreground-panel small-v-padding med-h-padding">
	<p>
		I'm Liam Robinson, a developer with a decade of experience working with a variety of different languages, frameworks, and technologies.
	</p>
	<p>
		This is my web portfolio.
	</p>
</div>

<section>
	<h2>Professional Work</h2>
	<div class="foreground-panel small-v-padding med-h-padding col">
		<p>
			These are projects I have worked on in my time working professionally as a C++ Developer at SoundChalk and as a Unity Developer at West Pier Studio.
		</p>
	</div>

	<div class="carousel top-m1 foreground-panel smooth-scroll-fixed">
		{% include project-description.html
			image="https://drive.google.com/thumbnail?id=1_11xg38TSgXBIpK_7-sAfSZohpnAWNIF&sz=w1000"
			imageAlt="\"Screenshot of the Simpson Strong-Tie Deck Planner Application\""
			id="sst-ols-description"
			next="#dps-description"
			href="#SST-OLS"
			title="SST - OLS Apps"
			description="Produced by West Pier Studio for Simpson Strong-Tie, the Outdoor Living Solutions family of applications provide tools for deck, pergola and fence planning." %}
	
		{% include project-description.html
			image="https://drive.google.com/thumbnail?id=1s_3Ltk6xu8PP9pdi2bQJW9RW4brK932I&sz=w1000"
			imageAlt="\"Data Pack System Logo\""
			imgStyle="height: fit-content; object-fit: contain;"
			id="dps-description"
			previous="#sst-ols-description"
			href="#DPS"
			title="Data Pack System"
			description="Created while I was working at SoundChalk for use in internal projects; Data Pack System is a high-performance, header-only C++ serialization library." %}
	</div>
</section>

<section>
	<h2>Personal Projects</h2>
	<div class="foreground-panel small-v-padding med-h-padding col">
		<p>
			These are projects I have worked on in my own spare time, or as part of my coursework while studying my Games Progamming BSc and MSc at Goldsmiths.
		</p>
	</div>

	<div class="carousel top-m1 foreground-panel smooth-scroll-fixed">
		{% include project-description.html
			image="https://drive.google.com/thumbnail?id=1NcXafZH1S8Whvpys8UP9E__ad4ro_YyU&sz=w1000"
			imageAlt="\"A screenshot of Sacrifices Must Be Made gameplay\""
			id="sacrifices-must-be-made-description"
			next="#shader-experiments-description"
			href="#sacrifices-must-be-made"
			title="Sacrifices Must Be Made"
			description="Sacrifices Must Be Made is a Unity game about fighting for survival as a cultist in an endless tournament of the damned." %}
	
		{% include project-description.html
			image="https://drive.google.com/thumbnail?id=1WU8wmcPLX3IstV8142fJWcx2qQI0heFW&sz=w1000"
			imageAlt="\"A screenshot of the Shader Experiments water shader\""
			id="shader-experiments-description"
			previous="#sacrifices-must-be-made-description"
			next="#go-fetchie-description"
			href="#shader-experiments"
			title="Shader Experiments"
			description="Shader Experiments is the result of me playing around with writing my own water shaders in Unity." %}

		{% include project-description.html
			image="https://drive.google.com/thumbnail?id=1kTPGt_9r5G1LV63s0wsFtxjyVObiAlQM&sz=w1000"
			imageAlt="\"A screenshot of Go Fetchie! gameplay\""
			id="go-fetchie-description"
			previous="#shader-experiments-description"
			next="#games-dev-examples-description"
			href="#go-fetchie"
			title="Go Fetchie!"
			description="Go Fetchie! is a game about solving puzzles with the help of a robot dog. Built in Unreal Engine 4 with C++ and Blueprints." %}

		{% include project-description.html
			image="https://drive.google.com/thumbnail?id=14iNA-BJNC6eaqJcj1Ujq8GhlyM21dEEB&sz=w1000"
			imageAlt="\"A screenshot of the Games Dev Examples project running\""
			id="games-dev-examples-description"
			previous="#go-fetchie-description"
			next="#3d-assets-description"
			href="#games-dev-examples"
			title="Games Dev Examples"
			description="Games Dev Examples is a small project designed to teach the basics of games development in Unity via C# code snippets, example scenes, and teaching materials." %}

		{% include project-description.html
			image="https://drive.google.com/thumbnail?id=1dycW6u4EsoGCQK83LqwvmNIxdTMXJ0mA&sz=w1000"
			imageAlt="\"A screenshot of the 3D Assets showcase\""
			id="3d-assets-description"
			previous="#games-dev-examples-description"
			href="#3d-assets"
			title="3D Assets"
			description="A series of 3D assets modelled, textured, and animated using Maya, ArmorPaint, and Blender as part of my masters degree coursework. " %}
	</div>
</section>