<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<header>
			<div class="topbar">
				<div class="topbar-aligner">
					<div class="topbar-always">
						<div class="header-title">
							Liam Robinson
						</div>
						<div class="nav-toggle">
							<div class="nav-toggle-activator" tabindex="-1"></div>
							<div class="nav-toggle-deactivator" tabindex="-2"></div>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<nav>
						<ol>
							<li>
								<a tabindex="1" href="/#welcome" onclick="this.blur();"> Home </a>
							</li>
							<li>
								<a tabindex="2" href="/#projects" onclick="this.blur();"> My Projects </a>
							</li>
							<li>
								<a tabindex="3" href="/#contact" onclick="this.blur();"> Contact Me </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</header>
		<div class="background row">
			<div class="bg-cell">abstract</div>
			<div class="bg-cell">auto</div>
			<div class="bg-cell">as</div>
			<div class="bg-cell">await</div>
			<div class="bg-cell">base</div>
			<div class="bg-cell">bool</div>
			<div class="bg-cell">break</div>
			<div class="bg-cell">byte</div>
			<div class="bg-cell">double</div>
			<div class="bg-cell">case</div>
			<div class="bg-cell">catch</div>
			<div class="bg-cell">char</div>
			<div class="bg-cell">class</div>
			<div class="bg-cell">constexpr</div>
			<div class="bg-cell">consteval</div>
			<div class="bg-cell">const</div>
			<div class="bg-cell">continue</div>
			<div class="bg-cell">decimal</div>
			<div class="bg-cell">decltype</div>
			<div class="bg-cell">default</div>
			<div class="bg-cell">delegate</div>
			<div class="bg-cell">delete</div>
			<div class="bg-cell">do</div>
			<div class="bg-cell">dynamic_cast</div>
			<div class="bg-cell">else</div>
			<div class="bg-cell">elseif</div>
			<div class="bg-cell">enum</div>
			<div class="bg-cell">event</div>
			<div class="bg-cell">extern</div>
			<div class="bg-cell">false</div>
			<div class="bg-cell">final</div>
			<div class="bg-cell">finally</div>
			<div class="bg-cell">fixed</div>
			<div class="bg-cell">float</div>
			<div class="bg-cell">for</div>
			<div class="bg-cell">foreach</div>
			<div class="bg-cell">goto</div>
			<div class="bg-cell">if</div>
			<div class="bg-cell">implicit</div>
			<div class="bg-cell">#include</div>
			<div class="bg-cell">int</div>
			<div class="bg-cell">interface</div>
			<div class="bg-cell">internal</div>
			<div class="bg-cell">is</div>
			<div class="bg-cell">inline</div>
			<div class="bg-cell">lock</div>
			<div class="bg-cell">long</div>
			<div class="bg-cell">namespace</div>
			<div class="bg-cell">new</div>
			<div class="bg-cell">null</div>
			<div class="bg-cell">nullptr</div>
			<div class="bg-cell">object</div>
			<div class="bg-cell">operator</div>
			<div class="bg-cell">out</div>
			<div class="bg-cell">override</div>
			<div class="bg-cell">params</div>
			<div class="bg-cell">private</div>
			<div class="bg-cell">protected</div>
			<div class="bg-cell">public</div>
			<div class="bg-cell">readonly</div>
			<div class="bg-cell">ref</div>
			<div class="bg-cell">return</div>
			<div class="bg-cell">reinterpret_cast</div>
			<div class="bg-cell">sealed</div>
			<div class="bg-cell">static</div>
			<div class="bg-cell">short</div>
			<div class="bg-cell">sizeof</div>
			<div class="bg-cell">static</div>
			<div class="bg-cell">string</div>
			<div class="bg-cell">static_assert</div>
			<div class="bg-cell">static_cast</div>
			<div class="bg-cell">struct</div>
			<div class="bg-cell">switch</div>
			<div class="bg-cell">this</div>
			<div class="bg-cell">template</div>
			<div class="bg-cell">throw</div>
			<div class="bg-cell">true</div>
			<div class="bg-cell">try</div>
			<div class="bg-cell">typedef</div>
			<div class="bg-cell">typename</div>
			<div class="bg-cell">typeof</div>
			<div class="bg-cell">uint</div>
			<div class="bg-cell">ulong</div>
			<div class="bg-cell">union</div>
			<div class="bg-cell">unsigned</div>
			<div class="bg-cell">unsafe</div>
			<div class="bg-cell">ushort</div>
			<div class="bg-cell">using</div>
			<div class="bg-cell">virtual</div>
			<div class="bg-cell">void</div>
			<div class="bg-cell">volatile</div>
			<div class="bg-cell">while</div>
			<div class="bg-cell">&#91;&#93;</div>
			<div class="bg-cell">&#123;&#125;</div>
			<div class="bg-cell">&#124;&#124;</div>
			<div class="bg-cell">&#38;&#38;</div>
			<div class="bg-cell">&#33;value</div>
			<div class="bg-cell">&#34;Hello World&#34;</div>
			<div class="bg-cell">&#123;</div>
			<div class="bg-cell">&#125;</div>
			<div class="bg-cell">&#123;</div>
			<div class="bg-cell">&#125;</div>
			<div class="bg-cell">&#123;</div>
			<div class="bg-cell">&#125;</div>
			<div class="bg-cell">&#123;</div>
			<div class="bg-cell">&#125;</div>
			<div class="bg-cell">&#123;</div>
			<div class="bg-cell">&#125;</div>
			<div class="bg-cell">&#123;</div>
			<div class="bg-cell">&#125;</div>
			<div class="bg-cell">&#123;</div>
			<div class="bg-cell">&#125;</div>
			<div class="bg-cell">&#123;</div>
			<div class="bg-cell">&#125;</div>
			<div class="bg-cell">&#123;</div>
			<div class="bg-cell">&#125;</div>
			<div class="bg-cell">&#123;</div>
			<div class="bg-cell">&#125;</div>
			<div class="bg-cell">&#60;div&#62;</div>
			<div class="bg-cell">&#60;&#47;div&#62;</div>
			<div class="bg-cell">&#60;div&#62;</div>
			<div class="bg-cell">&#60;&#47;div&#62;</div>
			<div class="bg-cell">&#60;div&#62;</div>
			<div class="bg-cell">&#60;&#47;div&#62;</div>
			<div class="bg-cell">&#60;div&#62;</div>
			<div class="bg-cell">&#60;&#47;div&#62;</div>
			<div class="bg-cell">&#60;div&#62;</div>
			<div class="bg-cell">&#60;&#47;div&#62;</div>
			<div class="bg-cell">&#60;div&#62;</div>
			<div class="bg-cell">&#60;&#47;div&#62;</div>
			<div class="bg-cell">&#60;div&#62;</div>
			<div class="bg-cell">&#60;&#47;div&#62;</div>
			<div class="bg-cell">&#60;div&#62;</div>
			<div class="bg-cell">&#60;&#47;div&#62;</div>
			<div class="bg-cell">&#60;div&#62;</div>
			<div class="bg-cell">&#60;&#47;div&#62;</div>
			<div class="bg-cell">&#60;div&#62;</div>
			<div class="bg-cell">&#60;&#47;div&#62;</div>
			<div class="bg-cell">&#60;section&#62;</div>
			<div class="bg-cell">&#60;&#47;section&#62;</div>
			<div class="bg-cell">&#60;main&#62;</div>
			<div class="bg-cell">&#60;&#47;main&#62;</div>
			<div class="bg-cell">&#60;html lang&#61;&#34;en&#34;&#62;</div>
			<div class="bg-cell">&#60;&#47;html&#62;</div>
			<div class="bg-cell">&#60;footer&#62;</div>
			<div class="bg-cell">&#60;&#47;footer&#62;</div>
			<div class="bg-cell">&#60;header&#62;</div>
			<div class="bg-cell">&#60;&#47;header&#62;</div>
			<div class="bg-cell">&#60;nav&#62;</div>
			<div class="bg-cell">&#60;&#47;nav&#62;</div>
		</div>
		<main>
			<div class="page-content-scroll  row">
				<div class="page-content">
					{{ content }}
				</div>
				<footer>
				
				</footer>
			</div>
		</main>
	</body>
</html>