<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="icon" type="image/x-icon" href="https://drive.google.com/thumbnail?id=1vQqDn-wdZGzDLp9crgn4M02fdb8B_cv0&sz=w1000">
	</head>
	<body>
		{% include background.html %}
		{% include topbar.html %}
		<main class="smooth-scroll-fixed">
			{{ content }}
		</main>
		<footer>

		</footer>
	</body>
</html>