@mixin flex($direction: null, $shrinkGrow: null)
{
	display: flex;
	@if ($direction)
	{
		flex-direction: #{$direction};
	}
	@if ($shrinkGrow)
	{
		flex-#{$shrinkGrow}: 1;
	}
}

.row
{
	@include flex(row);
}

.col
{
	@include flex(column);
}

.grow
{
	flex-grow: 1;
}

.v-spacer-small
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

@mixin pad-h($amount)
{
	padding-left: $amount;
	padding-right: $amount;
}

@mixin pad-v($amount)
{
	padding-top: $amount;
	padding-bottom: $amount;
}

.small-padding
{
	padding: 1em;
}

.small-v-padding
{
	@include pad-v(1em); 
}

.med-padding
{
	padding: 2em;
}

.med-h-padding
{
	@include pad-h(2em); 
}

.no-margin
{
	margin: 0px;
}

@mixin align-all($alignment)
{
	text-align: #{$alignment};
	align-content: #{$alignment};
	justify-content: #{$alignment};
	align-items: #{$alignment};
}

.center-h,
.center-v,
.center
{
	@include align-all(center);
}

.center
{
	margin: auto;
}

.center-v
{
	margin-top: auto;
	margin-bottom: auto;
}

.center-h
{
	margin-right: auto;
	margin-left: auto;
}

@mixin horizontal-align($side, $opposite)
{
	@include align-all($side);
	margin-#{$opposite}: auto;
	margin-#{$side}: 0;
}

.left
{
	@include horizontal-align(left, right);
}

.right
{
	@include horizontal-align(right, left);
}


.responsive-row-col
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	transition: all var(--standard-transition-timing);
}

.responsive-spacer-tiny,
.responsive-spacer-small
{
	display: flex;
}

@media only screen and (max-width: 568px)
{
	.responsive-spacer-tiny
	{
		@include pad-v(.5em); 
	}
	
	.responsive-spacer-small
	{
		@include pad-v(1em); 
	}
	
	.responsive-row-col
	{
		flex-direction: column;
	}

	@for $i from 1 through 5
	{
		.responsive-order-#{$i}
		{
			order: #{$i};
		}
	}
}