.v-spacer-1
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.pad-h-1
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.pad-h-2
{
	padding-left: 1em;
	padding-right: 1em;
}

.pad-h-3
{
	padding-left: 2em;
	padding-right: 2em;
}

.pad-h-4
{
	padding-left: 3em;
	padding-right: 3em;
}

.pad-h-5
{
	padding-left: 4em;
	padding-right: 4em;
}

.row
{
	flex-direction: row;
}

.col
{
	flex-direction: column;
}

.no-margin
{
	margin: 0px;
}

.grow
{
	flex-grow: 1;
}

.center-h,
.center-v,
.center
{
	text-align: center;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.center
{
	margin: auto;
}

.center-v
{
	margin-top: auto;
	margin-bottom: auto;
}

.center-h
{
	margin-right: auto;
	margin-left: auto;
}

.left
{
	text-align: left;
	align-content: left;
	justify-content: left;
	align-items: left;
	margin-right: auto;
	margin-left: 0;
}

.right
{
	text-align: right;
	align-content: right;
	justify-content: right;
	align-items: right;
	margin-right: 0;
	margin-left: auto;
}

.responsive-row-col
{
	display: flex;
	flex-direction: row;
	transition: all var(--standard-transition-timing);
}

@media only screen and (max-width: 568px)
{
	.responsive-row-col
	{
		flex-direction: column;
	}

	@for $i from 1 through 5
	{
		.responsive-order-#{$i}
		{
			order: #{$i};
		}
	}
}