.background
{
	position: absolute;
	overflow-x: hidden;
	overflow-y: hidden;
	align-items: stretch;
	flex-grow: 1;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	box-shadow: inset 0 -4em 2em -2em var(--bg-primary);
	color: var(--bg-secondary);
}

.bg-cell
{
	top: 0;
	left: 0;
	position: absolute;
}

@function CalcRand($range, $offset, $unit)
{
	$rand: random($range) - $offset;
	$withUnit: $rand + $unit;
	@return $withUnit
}

@for $i from 1 through 200
{
	$range: 110;
	$offset: 5;

	$xStart: CalcRand($range, $offset, vw);
	$xEnd: CalcRand($range, $offset, vw);
	$yStart: CalcRand($range, $offset, vh);
	$yEnd: CalcRand($range, $offset, vh);

	$rotStart: CalcRand(90, 45, deg);
	$rotEnd: CalcRand(90, 45, deg);

	.background .bg-cell:nth-child(#{$i})
	{
		animation: flash-#{$i} 60s infinite;
		animation-delay: (random(40000)-40000)+ms;
		animation-timing-function: linear;
	}

	@keyframes flash-#{$i} {
		0% {
			opacity: 0;
			transform: translateX(#{$xStart}) translateY(#{$yStart}) rotateZ(#{$rotStart});
		}

		50% {
			opacity: 1;
		}
	
		100% {
			opacity: 0;
			transform: translateX(#{$xEnd}) translateY(#{$yEnd}) rotateZ(#{$rotEnd});
		}
	}
}
