header
{
	margin: 0px;
	flex-grow: 1;
	flex-direction: row;
	position: sticky;
  	top: 0;
	background-color: var(--bg-secondary);
	box-shadow: 0px 0px 10px 0px #000;
	color: var(--accent);
}

header a
{
	color: var(--accent);
	text-decoration: none;
}

.header-title
{
	padding: .5em 1em .5em 1em;
	margin-right: auto;
	font-weight: bold;
	flex-shrink: 1;
	flex-direction: row;
	font-size: x-large;
}

.pre-nav
{
	flex-direction: row;
}

.topbar
{
	flex-grow: 1;
	flex-direction: row;
}

.topbar-aligner
{
	margin: auto;
	width: 1000px;
	flex-direction: row;
}

.topbar-always
{
	flex-direction: row;
	margin: 0px;
	flex-grow: 1;


}

@media only screen and (max-width: 1000px)
{
	.topbar-aligner
	{
		width: 100%;
	}
}

@media only screen and (max-width: 768px)
{
	.topbar-aligner
	{
		flex-direction: column;
		margin: 0;
	}

	.topbar
	{
		margin: 0px;
		flex-direction: column;
	}
}
