header
{
	@include flex(row, grow);
	z-index: 1;
	margin: 0px;
	position: sticky;
  	top: 0;
	background-color: var(--bg-secondary);
	box-shadow: 0 0 1em 0 var(--drop-shadow-color);
	color: var(--accent);
}

header a
{
	color: var(--accent);
	text-decoration: none;
}

.header-title
{
	@include default-text;
	@include flex(row, shrink);
	padding: .5em 1em .5em 1em;
	margin-right: auto;
	font-weight: bold;
	font-size: x-large;
}

.pre-nav
{
	flex-direction: row;
}

.topbar-aligner
{
	@include flex(row);
	margin: auto;
	width: 1000px;
}

.topbar-always
{
	@include flex(row, grow);
	margin: 0px;
}

@media only screen and (max-width: 1000px)
{
	.topbar-aligner
	{
		width: 100%;
	}
}

@media only screen and (max-width: 768px)
{
	.topbar-aligner
	{
		flex-direction: column;
		margin: 0;
	}

	.header
	{
		margin: 0;
		flex-direction: column;
	}
}
