html, body, main
{
	margin: 0px;
	height: 100%;
}

body
{
	background-color: var(--bg-primary);
}

main
{
	position: relative;
	overflow: hidden;
	color: var(--text-main);
}

*
{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-content: center;
}

head *
{
	display: none;
}

.page-content-scroll
{
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	display: block;
}

.page-content-scroll::-webkit-scrollbar {
	display: none;
}

.page-content
{
	width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

section
{
	box-sizing: border-box;
	margin: 3em auto;
	background-color: var(--bg-secondary);
	border-radius: 1em;
	padding: 1em;
	width: 100%;
	box-shadow: 0.5em 1em 1.5em 0em var(--drop-shadow-color);
}

footer
{
	margin-top: 2em;
}

@media only screen and (max-width: 1300px)
{
	.page-content
	{
		width: 90%;
	}
}

@media only screen and (max-width: 568px)
{
	.page-content
	{
		width: 100%;
	}
}