html, body, main
{
	@include flex(column);
	margin: 0px;
	height: 100%;
}

body
{
	background-color: var(--bg-primary); // Fallback
	background: radial-gradient(var(--bg-primary-gradient) 50%, var(--bg-primary) 100%);
}

main
{
	position: relative;
	overflow: hidden;
	color: var(--text-main);
}

head *
{
	display: none;
}

.page-content-scroll
{
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	display: block;
}

.page-content-scroll::-webkit-scrollbar {
	display: none;
}

.page-content
{
	width: min(800px, 90%);
	margin-left: auto;
	margin-right: auto;
	transition: all var(--standard-transition-timing);
}

section
{
	@include flex(column);
	box-sizing: border-box;
	margin: 2em auto 4em auto;
	width: 100%;
}

.small-padding
{
	padding: 1em;
}

@mixin foregroundPanel
{
	background-color: var(--bg-secondary);
	border-radius: 1em;
	box-shadow: 0.5em 1em 1.5em 0em var(--drop-shadow-color);
}

.foreground-panel
{
	@include foregroundPanel;
}

footer
{
	margin-top: 2em;
}

@media only screen and (max-width: 800px)
{
	.page-content
	{
		width: max(568px, 90%);
	}
}

@media only screen and (max-width: 568px)
{
	.page-content
	{
		width: 100%;
	}
}