@mixin default-text
{
	font-family: 'Courier New', Courier, monospace;
	text-shadow: 2px 2px 3px var(--drop-shadow-color);
	letter-spacing: .15em;
}

@mixin align-text($align, $align-last: $align)
{
	text-align: $align;
	text-align-last: $align-last;
}

p
{
	@include align-text(justify, center);
	@include default-text;
	margin: auto;
	line-height: 2em;
}

h1
{
	@include default-text;
	font-size: xx-large;
	filter: drop-shadow(0.15em 0.15em 0.1em var(--drop-shadow-color));
}

h1, h2, h3, h4, h5, h6
{
	@include flex(column);
	@include default-text;
	margin: 0em auto 0.5em auto;
	letter-spacing: -.05em;
}

a
{
	@include default-text;
	color: var(--accent);
}

a:active
{
	filter:brightness(var(--press-brightness));
}

.pip
{
	background-color: var(--text-main);
	height: .5em;
	width: .5em;
	min-height: .5em;
	min-width: .5em;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 0.5em;
	margin-left: 0.5em;
}