:root
{
	--bg-primary: hsl(239, 49%, 19%);
	--bg-primary-gradient: hsl(239, 34%, 39%);
	--bg-secondary: hsl(252, 70%, 7%);
	--accent: hsl(189, 100%, 72%);
	--highlight: hsl(22, 100%, 63%);
	--text-main: #ffffff;
	--press-brightness: 70%;
	--drop-shadow-color: rgba(0, 0, 0, 0.9);
	--standard-transition-timing: 0.2s;
}