:root
{
	--palette-1: #1a1037;
	--palette-2: #ffffff;
	--palette-3: #f2f250;
	--palette-4: #6462df;
}

body
{
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: var(--palette-1);
	color: var(--palette-2);
	margin: 0px;
}

header
{
	padding: 1em 0em;
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	color: var(--palette-3);
}

.header-title
{
	padding: 0em 15% 0em 1em;
	margin: auto;
	font-weight: 500;
	display: flex;
	flex-shrink: 1;
	flex-direction: row;
	color: var(--palette-3);
	font-size: x-large;
}

nav
{
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	color: var(--palette-3);
	font-size: large;
}

nav a
{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	text-align: center;
}
